body {
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    background-color: darkolivegreen;
    border-bottom: 10px solid lightgreen;

}

nav {
    text-align: right;
    
}


li {
    list-style-type: none;
    display: inline;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: white;
}

section {
    background-color: lightgreen;
    border-top: 3px solid darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
}

form {
    display: inline-block;
    
    width: 400px;
    border: 5px solid darkolivegreen;
    margin: 50px;
}

h3 {
    position: relative;
    left: -30px;
}
button {
    background-color: darkolivegreen;
    position: relative;
    top: -20px;
    height: 50px;
    width: 100px;
}