body {
text-align: center;
font-family: 'Franklin Gothic Medium', Arial, 'Arial Narrow',  sans-serif;
}


header {
    background-color: darkolivegreen;
    border-bottom: 10px solid lightgreen;
}

nav {
    text-align: right;
    padding: 10px;
}


li {
    list-style-type: none;
    display: inline;
    font-size: 30px;
    /* added padding */
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
}

/* styled the figure and figcaption to add some spacing */
figure {
    padding-bottom: 30px;
}

figcaption {
    padding-top: 15px;
}

section {
    background-color: lightgreen;
    border-top: 3px solid darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
}

/* added border radius and margin and padding for spacing */
form {
    display: inline-block;
    width: 400px;
    border: 5px solid darkolivegreen;
    border-radius: 15px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

h3 {
    position: relative;
    left: -30px;
}

/* changed font colour to white to be more visible */
button {
    background-color: darkolivegreen;
    position: relative;
    height: 50px;
    width: 100px;
    color: white;
}